section{
    margin: 0;
}
article > *{
display: block;
}
article{
    position: relative;
     
}
article spam{
    font-weight:bold;
}
article h3,article p{
    margin: 0 0 5px 0;
    word-wrap: break-word;
}

.buttons{
   
    margin-top:20px;
}
.buttons button{margin-left: 10px;}