.card{
    border-left:3px solid #960a2d !important;
    cursor: pointer;
    transition: all 0.4s
}
.card:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5), 0 1px 5px 0 rgba(0,0,0,0.6), 0 3px 1px -2px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.1)
}
.card-title{
    font-size:20px !important;
    font-weight:400 !important;
    text-transform: capitalize;
}
.card-content{
    padding: 0 24px 24px !important;
    
}
.loader{
    position:absolute;
    top:50%;
    left:50%;
    transition: translateX(-50%)
}
.loader spam{
    display: block;
    margin-top: 5px;
}
.right-info{
     text-align: right;
     padding: 15px 15px 0 0;
}
.right-info spam{
    display: block;
    font-size: 10px;
    margin-bottom: 6px;
}